<!DOCTYPE html>
<html>
<head>
	<title>Prayu - {% block title %}{% endblock %}</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'doctor/formbasic.css' %}">
</head>
<body>
	 <div id="login">
        <h3 class="text-center text-white pt-5">{% block head %} {% endblock%}</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        {% block form %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>