{% extends 'doctor/basic.html' %}
{% block title %} Your Profile {% endblock %}
{% block pagetitle %} Your Profile Info {% endblock%}
{% block username %} {{user.email}} {% endblock %}
{% block cdn %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'doctor/dprofile.css' %}">
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
	<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="{{ user.dprofile.image.url }}" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{user.dprofile.full_name}}
                                    </h5>
                                    <h6>
                                        {{user.dprofile.specialities}}
                                    </h6>
                                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            	          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{message.tags}}">
                {{message}}
              </div>
            {% endfor %}
          {% endif %}
                            	<form method="POST" enctype="multipart/form-data">{% csrf_token %}
                            		<fieldset class="form-group">
                            		{{u_form|crispy}}
                            		{{p_form|crispy}}
                            		</fieldset>
                            		<div class="form-group">
                            			<button class="btn btn-outline-info" type="submit">Update</button>
                            		</div>
                               	</form>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Year of Experience</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.yr_expr}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Hourly Rate</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>10$/hr</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Total Projects</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>230</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>English Level</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Expert</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Availability</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>6 months</p>
                                            </div>
                                        </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Your Bio</label><br/>
                                        <p>{{user.about_you}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>
</div>
{% endblock %}